**/node_modules
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/README.md
**/bin
**/obj
**/uploads
auth-service
account-service
favoriteaccount-service
product-service
report-service
transaction-service
client-user
client-admin/node_modules
client-admin/dist
*.md
!dockerfiles/**