# Node
node_modules/
npm-debug.log*
yarn.lock

# Variables de entorno - .NET
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Local.json

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Runtime data
dist/
build/
temp/
tmp/

# VS Code
.vscode/
.history/

# Visual Studio
.vs/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# MongoDB (si creas dumps o archivos locales)
dump/
*.bson

# IDE / Editor
.idea/

# Others
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# .NET bin/obj folders
**/bin/
**/obj/

# Keys y archivos sensibles
**/keys/

# Variables de entorno - Node services
.env
.env.local
.env.development
.env.production

# .NET publish output
**/publish/

# .NET user secrets
**/*.user
**/secrets.json


# Auth service logs
**/auth-service/src/AuthService.Api/logs/

# Expo / React Native (client-user)
.expo/
.expo-shared/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
**/android/app/build/
**/ios/build/