EXPO_PUBLIC_AUTH_URL=http://IP:3000/api/v1/auth
EXPO_PUBLIC_ACCOUNT_URL=http://IP:3001/paySmart/v1
EXPO_PUBLIC_FAVORITE_URL=http://IP:3004/paySmart/v1
EXPO_PUBLIC_PRODUCT_URL=http://IP:3003/paySmart/v1
EXPO_PUBLIC_REPORT_URL=http://IP:3005/paySmart/v1
EXPO_PUBLIC_TRANSACTION_URL=http://IP:3002/paySmart/v1