# Puerto del servidor
PORT=3001

# Conexión a MongoDB
URI_MONGODB=mongodb://localhost:27017/nombre_base_de_datos

# JWT - debe coincidir con los valores del AuthService
JWT_SECRET=tu_jwt_secret
JWT_EXPIRES_IN=1h
JWT_ISSUER=PaySmart
JWT_AUDIENCE=PaySmart